<footer class="bg-dark text-center text-light">
    <!-- Grid container -->
  <div class="container p-1">
    <!-- Section: Text -->
    <section class="mb-1">
      <p>
        Aplicación web creada por:<cite title="Source Title"> Javier Molina e Ignacio Bonilla</cite>.
      </p>
    </section>
    <!-- Section: Text -->
  </div>
  <!-- Grid container -->
  <!-- Contacto -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    javier.molina@aktios.com &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ignacio.bonilla@aktios.com
  </div>
  <!-- Contacto -->
  </footer>
