<!-- <h1 [ngStyle] = "{'color':color}">Hola buenas,{{Datos.country[0].description}} </h1>
<ul>
  <li *ngFor = "let pais of Datos.country">
    {{pais.description}}
  </li>
</ul>
<input [(ngModel)] = "Datos.country[0].description">
<input [(ngModel)] = "color"> -->
<body>
<app-header></app-header>
<br>
<h1 class="text-center">Listado de personal</h1>

      <label for="search-text">Search Text</label>
      <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
        [(ngModel)]="paginador.searchText" placeholder="Enter text to search" 
        autofocus>

<div class="table-responsive">
<table class = "table table-hover ">
  <thead class = "thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre completo</th>
      <th scope="col">Fecha de nacimiento</th>
      <th scope="col">Sexo</th>
      <th scope="col">Teléfono de contacto</th>
      <th scope="col">País</th>
      <th scope="col">Última modificación</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let info of Info.person | appFilter: paginador" >
    <th scope="row">{{info.id}}</th>
    <td>{{info.surname}} {{info.surname2}} {{info.name}}</td>
    <td>{{info.datebirthday | date : 'dd/MM/yyyy'}} </td>
    <td>{{info.sex}}</td>
    <td>{{info.country | prefix}}-{{info.phone}}</td> 
    <td>{{info.country | country}} </td>
    <td>{{info.lastModification}}</td> 
  </tr>
  </tbody>
</table>
</div>
<mat-paginator [length]="Info.person.length"
              [pageSize]="paginador.pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="paginador.page = $event.pageIndex"
              >
</mat-paginator>
<app-footer></app-footer>
</body>